<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактировать задачу</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Редактировать задачу</h1>
        <form class="mt-4" method="POST" action="/edit_task/{{ task.id }}">
            <div class="form-group">
                <label for="task">Задание:</label>
                <input type="text" class="form-control" id="task" name="task">
            </div>
            <button type="submit" class="btn btn-primary">Внести изменения</button>
        </form>
    </div>
</body>
</html>