{% extends "base.html" %}
{% block content %}
<head>
    <title style="text-align: center;">{{ title }}</title>
</head>
<body>
    <h1 style="text-align: center;">Добро пожаловать в планировщик задач. Выберите дальнейшие действия:</h1>
    <p style="text-align: center;">
        <a class="btn btn-primary" href="/register">Зарегистрироваться</a>
        <a class="btn btn-success" href="/login">Войти</a>
    </p>

</body>
{% endblock %}