{% extends "base.html" %}
{% block content %}

<head>
    <title>{{ title }}</title>
</head>

<div class="container">
        <h1 style="text-align: center;" class="mt-5">Регистрация</h1>
        <form class="mt-4" method="POST" action="/register">
            <div class="form-group">
                <label for="username">Имя пользователя:</label>
                <input type="text" class="form-control" id="username" name="username">
            </div>
            <div class="form-group">
                <label for="password">Пароль:</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Зарегестрироваться</button>
        </form>
    </div>
{% endblock %}