{% extends "base.html" %}
{% block content %}
<head>
    <title style="text-align: center;">{{ title }}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <h1 style="text-align: center;">Добро пожаловать, {{ username }}!</h1>
    <form action="/add_task" method="post">
        <input type="text" name="task" placeholder="Введите новую задачу" required>
        <button class="btn btn-success" type="submit">Добавить задачу</button>
    </form>

    {% for task in tasks %}
        <table style="width: 100%; border-collapse: separate;">
            <thead>
                <tr style="background: rgb(221,221,221);">
                  <th style="padding: 10px 0;" scope="col">Цель</th>
                  <th style="padding: 10px 0;" scope="col">Дата</th>
                  <th style="padding: 10px 0;" scope="col">Выполнена ли?</th>
                </tr>
            </thead>

            <tbody>
                <tr style="background: rgb(238,238,255);">
                    <th style="padding: 10px 0;">{{task.task}}</th>
                    <th style="padding: 10px 0;">{{task.date}}</th>
                     {% if task.completed %}
                        <th style="padding: 10px 0; background: rgb(209,250,177);">Завершена</th>
                    {% else %}
                        <th style="padding: 10px 0; background: rgb(255,238,255);">Не завершена</th>
                    {% endif %}
                </tr>
            </tbody>
        </table>
        {% if not task.completed %}
            <a class="btn btn-success" href="/complete_task/{{ task.id }}">Отметить выполненной</a>
        {% endif %}
        <a class="btn btn-primary" href="/edit_task/{{ task.id }}">Редактировать</a>
        <a class="btn btn-danger" href="/delete_task/{{ task.id }}">Удалить</a>
    {% endfor %}

    <a class="btn btn-primary" style="position:absolute; top: 90px; right:0;" href="/filter_tasks/completed">Показать выполненные задачи</a>
    <a class="btn btn-primary" style="position:absolute; top: 150px; right:0;" href="/filter_tasks/incomplete">Показать невыполненные задачи</a>
    <a class="btn btn-primary" style="position:absolute; top: 210px; right:0;" href="/filter_tasks/all">Показать все задачи</a>
    <a class="btn btn-danger" style="position:absolute; top: 270px; right:0;" href="/logout">Выйти</a>
</body>
{% endblock %}