{% extends "base.html" %}
{% block content %}
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
        crossorigin="anonymous">
</head>
<body>
    <h1>{{ title }}</h1>
    <form action="" method="post" novalidate enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
        {{ form.last_name.label }}<br>
        {{ form.last_name(class="form-control") }}<br>
        {% for error in form.last_name.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>

    <p>
        {{ form.first_name.label }}<br>
        {{ form.first_name(class="form-control") }}<br>
        {% for error in form.first_name.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>

    <p>
        {{ form.email.label }}<br>
        {{ form.email(class="form-control") }}<br>
        {% for error in form.email.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>

    <p>
        {{ form.education.label }}<br>
        {{ form.education(class="form-control") }}<br>
        {% for error in form.education.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>

    <p>
        {{ form.profession.label }}<br>
        {{ form.profession(class="form-control") }}<br>
        {% for error in form.profession.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>

    <p>
        {{ form.sex.label }}<br>
        {% for subfield in form.sex %}
          <tr>
              <td>{{ subfield }}</td>
              <td>{{ subfield.label }}</td>
          </tr>
        {% endfor %}
        {% for error in form.sex.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>

    <p>
        {{ form.motivation.label }}<br>
        {{ form.motivation(class="form-control") }}<br>
        {% for error in form.motivation.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>

    <p>{{ form.is_ready() }} {{ form.is_ready.label }}</p>
    <p>{{ form.photo.label }} {{ form.photo(class="form-control") }}</p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
</body>
{% endblock %}