<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
  <h1>Миссия Колонизация Марса</h1>
  <h4 style="color: red; padding-left: 20px;">И на Марсе будут яблони цвести!</h4>
    <main role="main" class="container">
        {% block content %}{% endblock %}
    </main>
</body>
</html>