{% extends "base.html" %}
{% block content %}
<div class="Professions">
        <h3>Ссылки на список профессий:</h3>
        <ul>
                <li><a href="/list_prof/ol">Список профессий (нумерованный)</a></li>
                <li><a href="/list_prof/ul">Список профессий (маркированный)</a></li>
        </ul>
</div>

<div class="Distribution">
        <a href="/distribution">Размещение</a>
</div>

<div class="Members">
        <a href="/member/random">Случайный член экипажа</a>
</div>

<div class="Room">
        <a href="/room/female/21">Оформление каюты</a>
</div>

<div class="Astronaut">
        <a href="/astronaut_selection">Запись добровольцем</a>
</div>

<div class="Galery">
        <a href="/galery">Галерея</a>
</div>

{% endblock %}

