{% extends "base.html" %}
{% block content %}
<head>
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    {% if list_type == 'ol' %}
        <ol>
            {% for profession in professions %}
                <li>{{ profession }}</li>
            {% endfor %}
        </ol>
    {% elif list_type == 'ul' %}
        <ul>
            {% for profession in professions %}
                <li>{{ profession }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <h3>Неверный параметр</h3>
    {% endif %}
</body>
{% endblock %}