{% extends "base.html" %}
{% block content %}
<head>
    <title>{{ title }}</title>
</head>
<body>
    <h2>{{ member_data['name'] }} {{ member_data['last_name'] }}</h2>
    <img style="width: 50%;" src="{{ url_for('static', filename=member_data['photo']) }}">
    <h3>{{ member_data['professions']|sort|join(', ') }}</h3>
</body>
{% endblock %}