{% extends "base.html" %}
{% block content %}
<head>
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <table id="data" style="border-collapse: collapse;
                            border: 2px solid rgb(140 140 140);
                            font-family: sans-serif;
                            font-size: 0.8rem;
                            letter-spacing: 1px;">
    <thead>

    <tr>
      <th scope="col" style="border: 1px solid rgb(160 160 160);"></th>
      <th scope="col" style="border: 1px solid rgb(160 160 160);">Цвет стен</th>
      <th scope="col" style="border: 1px solid rgb(160 160 160);">Эмблема</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" style="border: 1px solid rgb(160 160 160);">Данные</th>
      {% if sex == 'male' %}
        <td style="border: 1px solid rgb(160 160 160);
                  background: rgb(0, 0, 255);"></td>
      {% elif sex == 'female' %}
        <td style="border: 1px solid rgb(160 160 160);
                   background: rgb(128, 0, 128);"></td>
      {% else %}
        <td style="border: 1px solid rgb(160 160 160);">Неверный параметр</td>
      {% endif %}
      {% if age > 21 %}
        <td style="border: 1px solid rgb(160 160 160); text-align: center; vertical-align: middle;">
          <img style="width: 50%;" src="{{ url_for('static', filename='Emblem.png') }}">
        </td>
      {% elif age < 21 %}
        <td style="border: 1px solid rgb(160 160 160); text-align: center; vertical-align: middle;">
          <img style="width: 50%;" src="{{ url_for('static', filename='Emblem1.png') }}">
        </td>
      {% else %}
        <td style="border: 1px solid rgb(160 160 160); text-align: center; vertical-align: middle;">
          <img style="width: 50%;" src="{{ url_for('static', filename='Emblem2.png') }}">
        </td>
      {% endif %}
    </tr>
  </tbody>
  </table>
</body>
{% endblock %}